@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  overflow: hidden;
}

* {
  cursor: none !important;
}

/* Para asegurar el fondo en todos los navegadores */
.landing-container {
  background: #000000;
  color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
